.header{
    width: 100%;
    height: 100vh;
   background: url(./assets/banner_background.png);
   background-size: cover;
   background-repeat: no-repeat;
}
.menu{
    display: flex;
    flex-direction: row;
}
.panel{

}

/* pendiente de arreglar el menu */

.title_banner h2{
    font-size: 4rem;
}